@import url('https://fonts.googleapis.com/css2?family=Hammersmith+One&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Hammersmith One", sans-serif;
  color: #fff;
}

:root {
--bakerloo-color: rgb(166, 90, 42);
--central-color: rgb(225, 37, 27);
--circle-color: rgb(255, 205, 0);
--district-color: rgb(0, 121, 52);
--hammersmith-color: rgb(236, 155, 173);
--jubilee-color: rgb(123, 134, 140);
--metropolitan-color: rgb(135, 15, 84);
--northern-color: rgb(0, 0, 0);
--piccadilly-color: rgb(0, 15, 159);
--victoria-color: rgb(0, 160, 223);
--waterloo-color: rgb(107, 205, 178);
--undergound-color: rgb(0, 15, 159);
--text-color: rgb(255, 255, 255);
--text-color-2: #ffffffe1;
}

body {
  background-color: rgb(50, 62, 72);
}

#bakerloo, #central, #circle, #district, #hammersmith-city, #jubilee, #metropolitan, #northern, #piccadilly, #victoria, #waterloo-city {
  color: var(--text-color);
  padding: 20px
}

#bakerloo i,
#central i,
#circle i,
#district i,
#hammersmith-city i,
#jubilee i,
#metropolitan i,
#northern i,
#piccadilly i,
#victoria i,
#waterloo-city i {
  font-size: 20px;
  padding: 8px;
  margin: 10px;
  text-align: right;
}

#bakerloo {
background-color: var(--bakerloo-color);
}

#central {
background-color: var(--central-color);
}
#circle {
background-color: var(--circle-color);
}
#district {
background-color: var(--district-color);
}
#hammersmith-city {
background-color: var(--hammersmith-color);
}
#jubilee {
background-color: var(--jubilee-color);
}
#metropolitan {
background-color: var(--metropolitan-color);
}
#northern {
background-color: var(--northern-color);
}
#piccadilly {
background-color: var(--piccadilly-color);
}
#victoria {
background-color: var(--victoria-color);
}
#waterloo-city {
background-color: var(--waterloo-color);
}

.reason {
  margin-top: 10px;
}