


:root {
--bakerloo-color: rgb(166, 90, 42);
--central-color: rgb(225, 37, 27);
--circle-color: rgb(255, 205, 0);
--district-color: rgb(0, 121, 52);
--hammersmith-color: rgb(236, 155, 173);
--metropolitan-color: rgb(135, 15, 84);
--northern-color: rgb(0, 0, 0);
--piccadilly-color: rgb(0, 15, 159);
--victoria-color: rgb(0, 160, 223);
--waterloo-color: rgb(107, 205, 178);
--undergound-color: rgb(0, 15, 159);
--text-color: rgb(255, 255, 255);
--text-color-2: #ffffffe1;
}

.bakerloo {
color: var(--bakerloo-color);
}

.central {
color: var(--central-color);
}
.circle {
color: var(--circle-color);
}
.district {
color: var(--district-color);
}
.hammersmith-city {
color: var(--hammersmith-color);
}
.jubilee {
color: var(--jubilee-color);
}
.metropolitan {
color: var(--metropolitan-color);
}
.northern {
color: var(--northern-color);
}
.piccadilly {
color: var(--piccadilly-color);
}
.victoria {
color: var(--victoria-color);
}
.waterloo-city {
color: var(--waterloo-color);
}